@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

#ast {
    color: red;
    font-size: 50%;
}

#main-content {
    padding-left: 2%;
    padding-top: 5%;
}

#main {
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674811212/LigoLab_Template_Scratch_9_xwrhr4.svg");
    background-size: cover;
    padding-top: 2.5%;
}

h2 {
    text-align: center;
    color: white;
    font-family: Arial;
    padding-top: 1%;
    font-weight: bold;
}

#h5 {
    padding-top: 1%;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

h5 {
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: white;
}

#sub-title {
    font-size: 150%;
    color: white;
    margin-top: 2%;
    line-height: 1.35em;
    padding-left: 5%;
    padding-right: 2.5%;
}

#main-logo {
   width: 300%;
}

#nav {
    height: 125px;
    width: 100%;
}

label {
    color: black;
    font-weight: bold;
    padding-left: 1%;
}

#qr-code {
    width: 40%;
}

#h1 {
    text-align: center;
    border: none;
    height: 150px;
    padding-top: 3%;
}

#h2 {
    text-align: center;
    border: none;
    background: transparent;
    padding-top: 5%;
}

#check-list {
    font-size: 150%;
}

#submit-1 {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
}

#submit-1:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
}

#submit-2 {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
}

#submit-2:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
}

#section-2 {
    background: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675072418/LigoLab_Template_Scratch_2_rsgist.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#check {
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 125%;
}

#check-title {
    text-align: center;
    color: #83868a;
    font-size: 175%;
    padding-bottom: 2.5%;
    padding-top: 1%;
}

#check-title-1 {
    text-align: center;
    color: white;
    font-size: 175%;
    padding-top: 1%;
    padding-bottom: 2.5%;
}

#final-check {
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 175%;;
}

#check-row {
    font-size: 125%;
    color: white;
}

#ligo-logo {
    width: 10%;
}

#logo-card {
    width: 100%;
    border: none;
    border-radius: 0;
}

#clean-claim {
    font-size: 150%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

#stats {
    font-size: 150%;
    font-weight: bold;
}

#stats-div {
    padding-top: 2.5%;
    background-image: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674818820/LigoLab_Template_Scratch_14_jwzsau.svg");
}

#stats-row {
    background-image: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674818820/LigoLab_Template_Scratch_14_jwzsau.svg");
}

#stats-div-1 {
    background-image: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674818820/LigoLab_Template_Scratch_14_jwzsau.svg");
    padding-top: 2.5%;
}

#divider {
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%);
    height: 0.35em;
    width: 20em;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#divider-1 {
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%);
    height: 0.35em;
    width: 20em;
    margin-top: 2.5%;
    margin-bottom: 1%;
}

#last-section {
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675071826/LigoLab_Template_Scratch_1_f0hzm8.svg");
    background-size: cover;
    background-position: center;
    padding-top: 1%;
}

#icon-ligo {
    width: 50%;
}

#footer {
    text-align: center;
}

#footer-logo {
    width: 400px;
    margin-bottom: -15%;
}   

#footer-title {
    font-size: 50%;
    color: black;
}


/************************************************************************| CaptCHA |*************************************************************************/
#captcha-1 {
    margin-top: -21%;
    width: 42.5%;
    border-radius: 0.25em;
    float: right;
    padding: 1%;
    background: linear-gradient(rgb(151, 175, 199) 0%, rgb(239, 243, 244) 80%);
}


#captcha-back {
    background: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674875056/LigoLab_Template_Scratch_6_t8sys9.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15%;
}

#captcha {
    width: 85%;
    height: 3rem;
    user-select: none;
    border: red 2px solid;
    border-radius: 0.35em;
    text-align: center;
    text-decoration: line-through;
    color: #9b1212;
}

#submitButton {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
    height: 2.25rem;
    margin: 2%;
    border: black;
    display: inline;
}

#submitButton:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
}

#refreshButton {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
    height: 2.25rem;
    border: black;
    display: inline;
    color: black;
    margin: 2%;
}

#refreshButton:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: white;
    border: black;
}

#textBox {
 width: 90%;
}

.incorrectCaptcha {
    color: #FF0000;
    font-size: 70%;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 0.25em;
    padding: 1%;
}

.correctCaptcha {
    color: #7FFF00;
    font-size: 85%;
    font-weight: bold;
    border: 1px solid green;
    border-radius: 0.25em;
    padding: 2.5%;
}