#captcha {
    background: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675392895/LigoLab_Template_Scratch_12_hagmwf.svg");
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    float: right;
    margin-top: 2.5%;
    padding-top: 2.5%;
}

#buttons {
    padding: 2%;
}

#code {
    padding: 1%;
}

#userInput {
    margin-bottom: 2.5%;
}
