#footer {
    text-align: center;
    height: 200px;
}

#footer-logo {
    width: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#icon-ligo {
    width: 10%;
}

#footer-title {
    font-size: 100%;
    color: black;
    font-weight: bold;
}

#footer-title-1 {
    font-size: 100%;
    color: black;
    padding-top: 2%;
    padding-bottom: 3.5%;
    font-weight: bold;
}

#footer-logo-sub {
    background: -webkit-linear-gradient(rgb(17, 17, 17) 0%, rgb(94, 96, 98) 90%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(17, 17, 17) 0%, rgb(94, 96, 98) 90%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 110%;
    font-weight: bold;
    padding: 0%;
    margin: 0.5%;
}

#footer-font {
    font-size: 200%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

#footer-font:hover {
    background: -webkit-linear-gradient(rgb(17, 17, 17) 0%, rgb(94, 96, 98) 90%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(17, 17, 17) 0%, rgb(94, 96, 98) 90%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 225%;
}

#footer-divider {
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%);
    height: 0.15em;
    width: 100%;
    margin-top: 1%;
}

#badge-1 {
    background: transparent;
    width: 2.5%;
}

#rcm {
    text-decoration: none;
    background: -webkit-linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

#lis {
    background: -webkit-linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
}

#rcm:hover {
    cursor: pointer;
    font-size: 125%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

#lis:hover {
    cursor: pointer;
    font-size: 125%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

#terms {
    color: black;
    text-decoration: none;
}

#privacy {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#terms:hover {
    cursor: pointer;
    font-size: 125%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

#privacy:hover {
    cursor: pointer;
    font-size: 125%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}