#title-m {
    text-align: center;
    color: black;
    font-family: Arial;
    padding-top: 1%;
    font-weight: bold;
    padding-bottom: 2%;
    font-size: 250%;
}

#submit-1 {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
    margin-bottom: 5%;
}

#submit-1:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
}

#ast {
    color: red;
    font-size: 50%;
}

label {
    font-size: 125%;
    text-align: start;
}