#navbar {
    padding-bottom: 5%;
}

#main-logo {
    border: none;
    background: transparent;
}

#logo {
    width: 100%;
}

#nav-cont {
    width: 100%;
    padding-top: 2.5%;
}

#nav-links {
    justify-content: center;
    width: 100%;
}

#nav-link {
    display: inline;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}