#m-sub {
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(72, 73, 74) 0%, rgb(199, 202, 207) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(72, 73, 74) 0%, rgb(199, 202, 207) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 250%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: center;
}

#h5 {
    padding-top: 1%;
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

#sub-title {
    font-size: 175%;
    color: white;
    margin-top: 2%;
    line-height: 1.35em;
    padding-left: 7.5%;
    padding-right: 2.5%;
}

#subtitle {
    font-size: 300%;
    font-weight: bold;
    color: white;
    line-height: 1.35em;
    padding-left: 7.5%;
    padding-right: 2.5%;
}

#badge {
    background: transparent;
    margin: 0%;
    padding: 0%;
}

#sub-title-1 {
    font-size: 225%;
    font-weight: bold;
    color: white;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: left;
}

#next {
    padding-left: 10%;
}

#icon-ligo {
    width: 50%;
}

#title-m {
    margin-top: 5%;
    padding-bottom: 2.5%;
    font-size: 300%;
}

#ast {
    color: red;
    font-size: 50%;
}

#submit-1 {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
    margin-bottom: 5%;
}

#submit-1:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
}

#label {
    font-size: 125%;
    color: black;
}