#monitor {
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675149590/LigoLab_Template_Scratch_4_zarkxs.svg");
    background-size: cover;
    background-position: center;
    width: fit-content;
}

#check-list-title-1 {
    color: black;
    font-size: 190%;
    font-weight: bold;
    padding-bottom: 5%;
    text-align: center;
}

#check-col {
    padding-bottom: 2%;
}

#adaptable {
    width: 105%;
}

#final-check-1 {
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 150%;
}

#check-row-1 {
    font-size: 160%;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

#h3 {
    text-align: center;
    border: none;
    background: transparent;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 350%;
    background: -webkit-linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}