#last-section {
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1678414213/IMPL_GUIDE_BG_t37mhq.svg");
    background-size: cover;
    background-position: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

#h2 {
    text-align: center;
    border: none;
    background: transparent;
    padding-bottom: 2%;
    font-size: 300%;
}

#check-list-title {
    font-size: 200%;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
}

#check-title-1 {
    text-align: center;
    background: -webkit-linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 185%;
    padding-bottom: 2.5%;
    padding-top: 1%;
}

#final-check {
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 175%;
}

#check-row {
    font-size: 165%;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}