#card-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h1 {
    text-align: center;
    border: none;
    padding-top: 1%;
}

#card-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

#submit-5 {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
    margin-bottom: 5%;
    margin-top: 2.5%;
}

#submit-5:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
}

#check {
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 125%;
}

#gap {
    margin-bottom: 5%;
}

#check-title {
    color: rgb(71, 73, 75);
    font-size: 175%;
    padding-bottom: 5%;
    padding-top: 5%;
}

#check-list {
    font-size: 150%;
}

#stats {
    font-size: 150%;
    font-weight: bold;
}

#stats-div {
    padding-top: 5%;
    background: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674818820/LigoLab_Template_Scratch_14_jwzsau.svg");
    background-size: cover;
    border: none;
    padding-bottom: 5%;
}

#stats-div-1 {
    background-image: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674818820/LigoLab_Template_Scratch_14_jwzsau.svg");
    padding-top: 2.5%;
    border: none;
    padding-bottom: 2.5%;
}

#clean-claim {
    font-size: 150%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

#stats {
    font-size: 150%;
    font-weight: bold;
}