@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.background {
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    height: 200px;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675308366/LigoLab_Template_Scratch_24_u9qhnu.svg");
    background-size: cover;
}

#main-container {
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1674811212/LigoLab_Template_Scratch_9_xwrhr4.svg");
    background-size: cover;
    padding-top: 2.5%;
    border-radius: 0.75em;
}

#main-header {
    height:fit-content;
    margin-top: 2.5%;
}

#main-logo {
   width: 500px;
   margin: -20%;
   padding: -20%;
}

#nav-link {
    padding: 3%;
    font-size: 130%;
    margin-right: -5%;
    background: -webkit-linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(58, 58, 60) 50%, rgb(206, 214, 225) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

#nav-link:hover {
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#h1 {
    text-align: center;
    font-size: 300%;
}

#m-sub {
    padding-top: 1%;
}

#submit-top {
    background: linear-gradient(rgb(14, 76, 175) 0%, rgb(161, 200, 245) 80%);
    margin-top: 0.5%;
    margin-bottom: 2.5%;
    font-weight: bold;
    font-size: 175%;
}

#submit-top:hover {
    background: linear-gradient(rgb(138, 139, 140) 0%, rgb(222, 224, 225) 80%);
    transition: all 0.3s ease-in-out;
    color: black;
    border: 1px solid black;
}

#gaps {
    border: none;
    background: none;
}

#revenue_gaps {
    background: url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675072418/LigoLab_Template_Scratch_2_rsgist.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-div {
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%);
    height: 0.15em;
    width: 75em;
    margin-top: 1%;
    margin-bottom: 2.5%;
}

#divider-1 {
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%);
    height: 0.15em;
    width: 20em;
    margin-top: 3.5%;
}

#nav-divider {
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%);
    height: 0.15em;
    width: 100%;
}

#footer-title {
    font-size: 100%;
    color: black;
    padding-top: 1%;
}

#footer-font {
    font-size: 200%;
    background: -webkit-linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(2, 62, 204) 0%, rgb(86, 154, 250) 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 2%;
}

#main {
    border: none;
    background: transparent;
}

#qr-card {
    background: no-repeat url("https://res.cloudinary.com/dhqsixgmo/image/upload/v1675399884/LigoLab_Template_Scratch_13_quicxw.svg");
    background-size: cover;
    background-position: center;
}

#qr-card-1 {
    padding: 25%;
    background: none;
    border: none;
}